.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal-overlay {
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.modal-overlay.opacity-0 {
  opacity: 0;
  transform: translateY(20px); /* Initial state when not visible */
}

.modal-overlay.opacity-100 {
  opacity: 1;
  transform: translateY(0); /* Final state when visible */
}

.modal-overlay .transform {
  transition: transform 0.3s ease-out;
}


.skill-bar-container {
  margin-bottom: 1rem;
}

.progress-bar {
  height: 100%;
  background-color: #3490dc; /* Replace with your brand primary color */
  transition: width 1s ease-out;
}

.hero {
  background-color: var(--hero-bg-light);
  color: var(--text-light);
}
