@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #ffffff;
  --text-light: #000000;
  --primary-light: #0554ff;

  --background-dark: #140636;
  --text-dark: #ffffff;
  --primary-dark: #000000;

  --hero-bg-light: #1e40af;
  --hero-bg-dark: #1a1a40;
}

body {
  background-color: var(--background-light);
  color: var(--text-light);
}

.dark-mode .bg-brand-primary {
  background-color: var(--primary-dark);
}

.dark-mode .text-brand-primary {
  color: var(--primary-dark);
}